<head>

      <title>New Post</title>

</head>

<body>
<h1>Colloqouy</h1>
<p>Network for Intelligent and Fair Discussion</p>
<br>
<h1>New Post</h1>
 <%= form_for(@discussions) do |f| %>
        <p><%= f.label :topic_name %> <%= f.text_field :topic_name%></p>
        <p><%= f.label :topic_description %> <%= f.text_field :topic_description%></p>
        <%= f.submit%>
        <% end %>
</body>