<p><%= comment.comment %></p>
<strong>Commented <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %></strong>

      <br>
      <%= link_to like_comment_path(comment), method: :put, class: "btn btn-default btn-sm" do %>
        Upvote
        <%= comment.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_comment_path(comment), method: :put, class: "btn btn-default btn-sm" do %>
        Downvote
        <%= comment.get_downvotes.size %>
        <br>
      <% end %>

    <% if (user_signed_in? && (current_user.id == @post.user_id)) %>        
    <%= link_to "Edit Comment", edit_post_comment_path(comment.post, comment) %>
    <%= link_to "Delete Comment", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>